<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Text to Speech</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="col-6">
            <h2>Comentário</h2>
            <form action="" id="formComentario">
                <textarea name="comentario" id="comentario"></textarea>
                <button class="submit">Cadastrar</button>
            </form>
        </div>
        <div class="col-6">
            <h2>Comentários</h2>
            <div id="comentario_1">
                Oi mundo!
            </div>
            <button>Ouvir</button>
        </div>
    </div>
</body>
</html>