<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="col-6">
            <h2>Comentário</h2>
            <form action="" id="formComentario">
                <textarea name="descricao" id="descricao" required></textarea>
                <button class="submit">Cadastrar</button>
            </form>
            <div id="mensagem"></div>
        </div>
        <div class="col-6">
            <h2>Comentários</h2>
            <div id="comentarios"></div>
        </div>
    </div>
    <audio src="" id="audio" preload="none"></audio>
    <template id="comentario">
        <div class="linha">
            <div></div>
            <div>
                <button class="ouvir">Ouvir</button>
            </div>
        </div>
    </template>
</body>
<script>
    window.addEventListener('load', async (event) => {
        const baseURL = 'http://localhost:3333';
        await fetch(baseURL + '/listagem')
            .then((response) => response.json())
            .then((data) => {
                data.forEach((comentario) => {
                    carregarComentario(comentario);
               })
            })
            .catch((error) => {
                console.log(error);
            });

        document.getElementById('formComentario').addEventListener('submit', async (event) => {
            event.preventDefault();
            let descricao = document.getElementById('descricao').value;

            await fetch(baseURL, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({descricao})
            })
                .then((response) => response.json())
                .then((data) => {
                    carregarComentario(data);
                    carregarMensagem('Comentário cadastrado com sucesso!', 'sucesso');
                })
                .catch((error) => {
                    carregarMensagem(error, 'erro');
                });
        });
    });

    function carregarComentario(comentario)
    {
        let comentarios = document.getElementById('comentarios');
        let template = document.getElementById('comentario');
        let linha = template.content.querySelector('.linha');

        linha.querySelector('div:first-child').textContent = comentario.descricao;
        linha.querySelector('button').setAttribute('data-audio', 'audio/' + comentario.id + '.mp3');

        comentarios.appendChild(document.importNode(template.content, true));

        document.querySelectorAll('.ouvir').forEach((ouvir) => {
            ouvir.addEventListener('click', async () => {
                document.getElementById('audio').setAttribute('src', ouvir.getAttribute('data-audio'));
                await document.getElementById('audio').play().then(() => {});
            });
        });
    }

    function carregarMensagem(msg, classe)
    {
        let mensagem = document.getElementById('mensagem');
        mensagem.innerText = msg;
        mensagem.classList.add(classe);

        document.getElementById('descricao').disabled = true;
        document.querySelector('.submit').disabled = true;

        setTimeout(() => {
            document.getElementById('descricao').disabled = false;
            document.querySelector('.submit').disabled = false;
            mensagem.classList.remove(classe);
        }, 2000);
    }
</script>
</html>