html, body {
    margin: 0;
    padding: 0;
    background-color: #CDCDCD;
    font-size: 14px;
    font-family: arial, monospace;
}

.container {
    width: 90%;
    display: flex;
    margin: 2rem auto;
    height: 90vh;
    justify-content: center;
}

.col-6 {
    width: 50%;
    max-width: 600px;
    padding: 3rem;
}

.col-6:first-child {
    border-right: 2px solid #BEBEBE;
}

button {
    background-color: #a0a0a0;
    font-weight: bold;
    border-radius: 5px;
}

#formComentario {
    width: auto;
}

#formComentario textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 12rem;
    padding: 0.5rem;
    resize: none;
}

#formComentario button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0.35rem;
}

.linha {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    justify-content: space-between;
}

.linha div {
    line-height: 2rem;
}

.linha button {
    padding: 0.2rem 1.5rem;
    margin-left: 1rem;
}

#mensagem {
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
    display: none;
}

.sucesso {
    background-color: #4da367;
    border: 1px solid #058018;
    color: darkgreen;
    display: block !important;
}

.erro {
    background-color: #f1b3b3;
    border: 1px solid #ff876c;
    color: brown;
    display: block !important;
}